# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.sts4-cache
bin/
target/

# Build output
*.class
*.jar
*.war
*.ear

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Crash logs
hs_err_pid*
replay_pid*

# VS Code (caso use em paralelo)
.vscode/
